<nz-content class="dw-f-content-edit">
  <form nz-form [formGroup]="validateForm" >
    <dw-div-mask [showMask]="isSaving" [targetDiv]="detailDiv"></dw-div-mask>
    <div #detailDiv>
    <!-- 單頭 -->
    <div nz-row [nzJustify]="'start'">

      <div class="master-title" nz-col [nzSpan]="24">
          <span translate>dw-asis-集團公司設定</span>
      </div>
      <div nz-row [nzGutter]="10" class="dw-f-form-head">
        <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
          <dw-form-input
            formControlName="masterAsisId"
            (change)="master.asisId=$event.target.value"
            dwLabel="{{'dw-asis-分析編號' | translate}}"
            dwLabelSpan="6"
            dwInputSpan="16"
            [dwRequired]="true">
          </dw-form-input>
        </div>
        <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
          <dw-form-input
            formControlName="masterAsisName"
            (change)="master.asisName=$event.target.value"
            dwLabel="{{'dw-asis-分析名稱' | translate}}"
            dwLabelSpan="6"
            dwInputSpan="16"
            [dwRequired]="true">
          </dw-form-input>
        </div>
        <div nz-col [nzSpan]="24">
          <dw-form-textarea
            formControlName="masterNote"
            (change)="master.note=$event.target.value"
            dwLabel="{{'dw-asis-備註' | translate}}"
            dwPlaceHolder="{{'dw-asis-請輸入備註內容'| translate}}"
            dwLabelSpan="2"
            dwInputSpan="22">
          </dw-form-textarea>
        </div>
        <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
            <dw-form-select
              [dwOptionList]="searchStatusOptions | async"
              formControlName="masterStatus"
              dwLabel="{{'dw-asis-系統值' | translate}}"
              [dwPlaceHolder]="'dw-asis-請選擇' | translate"
              [dwNotFoundContent]="'dw-asis-無選項' | translate"
              dwLabelSpan="6"
              dwInputSpan="16"
              [dwRequired]="true">
            </dw-form-select>
          </div>
      </div>

    </div>
    <!-- 單身 -->
    <div #detailDiv class="dw-f-form-box">
      <nz-card [nzBordered]="false" [nzTitle]="detailTitleTmp" class="dw-f-row-bottom-margin">
          <ng-template #detailTitleTmp>
            {{ 'dw-asis-單身設定' | translate }}
          </ng-template>
          <div class="dw-f-table">
              <nz-table #dwTable [nzData]="detail" [nzShowPagination]="false" nzShowSizeChanger [nzLoading]="searchLoading">
                <thead>
                  <tr>
                      <th>
                          <span translate>dw-asis-項目行序</span>
                        </th>
                        <th>
                          <span translate>dw-asis-項目編號</span>
                        </th>
                        <th>
                          <span translate>dw-asis-項目名稱</span>
                        </th>
                        <th>
                          <span translate>dw-asis-上層項目編號１</span>
                        </th>
                        <th>
                          <span translate>dw-asis-上層項目名稱１</span>
                        </th>
                        <th>
                          <span translate>dw-asis-上層項目編號2</span>
                        </th>
                        <th>
                          <span translate>dw-asis-上層項目名稱2</span>
                        </th>
                    <th>
                      <span translate>dw-asis-操作</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dwTable.data; let idx = index" [ngClass]="{'detailSelected':data.selected}" (click)="detailClick(data)">
                    <td>
                        {{data.seq}}
                    </td>
                    <td>
                      {{data.itemId}}
                    </td>
                    <td>
                      {{data.itemName}}
                    </td>
                    <td>
                      {{data.upperId1}}
                    </td>
                    <td>
                      {{data.upperName1}}
                    </td>
                    <td>
                        {{data.upperId2}}
                    </td>
                    <td>
                      {{data.upperName2}}
                    </td>
                    <td>
                        <span>
                          <a (click)="detailModify(idx)">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                            <span translate>dw-asis-修改</span>
                          </a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a nz-popconfirm [nzPopconfirmTitle]="'dw-asis-是否刪除'| translate" (nzOnConfirm)="detailDelete(idx)"
                            [nzOkText]="'dw-determine' | translate" [nzCancelText]="'dw-cancel' | translate" [nzPopconfirmPlacement]="'topRight'">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                            <span translate>dw-asis-刪除</span>
                          </a>
                        </span>
                      </td>
                  </tr>
                </tbody>
              </nz-table>
          </div>
          <div nz-row *ngIf="validateForm.valid">
            <div nz-col [nzSpan]="24">
                <button type="button" class="dw-f-btn-w100" nz-button [nzType]="'dashed'" [nzSize]="'large'" (click)="detailAdd($event)">
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                  <span translate>dw-asis-新增</span>
                </button>
            </div>
          </div>
      </nz-card>

      <nz-card [nzBordered]="false" [nzTitle]="childTitleTmp" class="dw-f-row-bottom-margin">
            <ng-template #childTitleTmp>
              {{'dw-asis-細部設定' | translate: { value: childTableTitle } }}
            </ng-template>

            <div class="dw-f-table">
              <nz-table #dwTableChild [nzData]="detailChildList" [nzShowPagination]="false" nzShowSizeChanger [nzLoading]="searchLoading">
                <thead>
                  <tr>
                    <th>
                      <span translate>dw-asis-BI財務類別編號</span>
                    </th>
                    <th>
                      <span translate>dw-asis-BI財務類別名稱</span>
                    </th>
                    <th>
                      <span translate>dw-asis-類別行序</span>
                    </th>
                    <th>
                      <span translate>dw-asis-系統值</span>
                    </th>
                    <th>
                      <span translate>dw-asis-操作</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dwTableChild.data; let idx = index" >
                    <td>
                      {{data.biId}}
                    </td>
                    <td>
                      {{data.biName}}
                    </td>
                    <td>
                      {{data.seq}}
                    </td>
                    <td>
                      {{data.status}}
                    </td>
                    <td>
                        <span >
                          <a (click)="detailChildModify(idx)">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                            <span translate>dw-asis-修改</span>
                          </a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a nz-popconfirm [nzPopconfirmTitle]="'dw-asis-是否刪除'| translate" (nzOnConfirm)="detailChildDelete(idx)"
                            [nzOkText]="'dw-determine' | translate" [nzCancelText]="'dw-cancel' | translate" [nzPopconfirmPlacement]="'topRight'">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                            <span translate>dw-asis-刪除</span>
                          </a>
                        </span>
                      </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div nz-row *ngIf="detail.length">
              <div nz-col [nzSpan]="24">
                  <button type="button" class="dw-f-btn-w100" nz-button [nzType]="'dashed'" [nzSize]="'large'" (click)="detailChildAdd($event)">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    <span translate>dw-asis-新增</span>
                  </button>
              </div>
            </div>

        </nz-card>
    </div>

    <!-- 表單按鈕 -->
    <nz-form-item nz-row class="dw-f-bottom-btn-bar">
      <div nz-col [nzSpan]="24" class="dw-f-txt-center">
          <button nz-button type="button" (click)="save()" [nzType]="'primary'" [disabled]="!validateForm.valid" [nzLoading]="isSaving">{{ 'dw-save' | translate }}</button>
          <button nz-button type="button" (click)="cancel()">{{ 'dw-cancel' | translate }}</button>
      </div>
    </nz-form-item>
  </div>
  </form>
</nz-content>
<ng-template #modifyDetailTitle><span translate>dw-asis-編輯公司設定</span></ng-template>
<ng-template #addDetailTitle><span translate>dw-asis-新增公司明細</span></ng-template>
