<form nz-form [formGroup]="validateForm" (ngSubmit)="emitDataOutside()">
  <dw-form-input
    *dwId="'name'"
    dwFor="name"
    formControlName="name"
    dwLabel="{{'dw-tree-組織名稱' | translate}}"
    dwLabelSpan="5"
    dwInputSpan="18"
    [dwRequired]="true">
  </dw-form-input>
  <dw-form-input
    *dwId="'address'"
    dwFor="address"
    formControlName="address"
    dwLabel="{{'dw-tree-地址' | translate}}"
    dwLabelSpan="5"
    dwInputSpan="18">
  </dw-form-input>
  <dw-form-input
    *dwId="'amount'"
    dwFor="amount"
    formControlName="amount"
    dwLabel="{{'dw-tree-月營業額' | translate}}"
    dwLabelSpan="5"
    dwInputSpan="18"
    [dwRequired]="true">
  </dw-form-input>
  <dw-form-select
    [dwOptionList]="statusEnum"
    formControlName="status"
    dwLabel="{{'dw-tree-狀態' | translate}}"
    [dwPlaceHolder]="'dw-tree-請選擇' | translate"
    [dwNotFoundContent]="'dw-tree-無選項' | translate"
    dwLabelSpan="5"
    dwInputSpan="18"
    [dwRequired]="true">
  </dw-form-select>
  <div class="customize-footer">
    <button nz-button type="button" [nzType]="'default'" (click)="handleCancel($event)">
      {{ 'dw-cancel' | translate }}
    </button>
    <button nz-button type="submit"  [nzType]="'primary'" [disabled]="!validateForm.valid">
      {{ 'dw-save' | translate }}
    </button>
  </div>
</form>
