<nz-layout>
  <nz-content class="dw-demo-theme-wp">   
    <h1 class="title-h1">佈景主題</h1>
    <div class="theme-info">
      <div nz-row nzGutter="15">
        
        <div nz-col class="theme-info-row" nzSpan="24">
          <div class="theme-info-box info-box-col2">
            <ul>
              <li>應用開發自訂樣式位置 /implementation/style/index.less。 (預設樣式)</li>
              <li>所有自訂的主題樣式放置於 app/theme 資料夾, (/app/theme/theme-XXX.less)
                <br>主題樣式命名規則：
                <br>「theme-樣式名稱.less」
                <br>Ex: theme-red.less  (theme-紅色系.less)
              </li>
              <li>編譯產生的 css 放置於
                <br>src/assets/themes/theme-樣式名稱.css
                <br>Ex: src/assets/themes/theme-red.css
              </li>              
              <li>整體的UI主色變數 @theme-color: 自訂顏色;
                <br>下方列出常用的變數, 可快速變更基本畫面編排</li>
              <li>新增自訂樣式選擇器命名規則：
                <br> 「應用開發單位 - 類別/位置 - 功能/屬性」
                <br> Ex: dap-btn-add (開發單位dap-按鈕-新增)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- demo-style -->
    <div class="theme-info demo-style">
      <div nz-row nzGutter="15">
        <div nz-col class="theme-info-row" nzSpan="6">
          <div class="demo-style-box" [ngClass]="{'active': nowThemeStyleId==='theme-red'}" (click)="changeTheme({id:'theme-red',path:'assets/themes/theme-red.css'})">
            <img src="assets/img/showcase/demo-theme/theme-red.jpg" alt="佈景主題樣式-red">
            <div class="demo-style-txt">
              <p class="name">佈景主題樣式-red</p>
              <i nz-icon nzType="check-circle" nzTheme="fill"></i>
            </div>
          </div>
        </div>
        <div nz-col class="theme-info-row" nzSpan="6">
          <div class="demo-style-box" [ngClass]="{'active': nowThemeStyleId==='theme-green'}" (click)="changeTheme({id:'theme-green',path:'assets/themes/theme-green.css'})">
            <img src="assets/img/showcase/demo-theme/theme-green.jpg" alt="佈景主題樣式-green">
            <div class="demo-style-txt">
              <p class="name">佈景主題樣式-green</p>
              <i nz-icon nzType="check-circle" nzTheme="fill"></i>
            </div>
          </div>
        </div>
        <div nz-col class="theme-info-row" nzSpan="6">
          <div class="demo-style-box" [ngClass]="{'active': nowThemeStyleId==='theme-yellow'}"  (click)="changeTheme({id:'theme-yellow',path:'assets/themes/theme-yellow.css'})">
            <img src="assets/img/showcase/demo-theme/theme-yellow.jpg" alt="佈景主題樣式-yellow">
            <div class="demo-style-txt">
              <p class="name">佈景主題樣式-yellow</p>
              <i nz-icon nzType="check-circle" nzTheme="fill"></i>
            </div>
          </div>
        </div>
        <div nz-col class="theme-info-row" nzSpan="6">
          <div class="demo-style-box" [ngClass]="{'active': nowThemeStyleId==='default'}" (click)="changeTheme({id:'default',path:'default'})">
            <img src="assets/img/showcase/demo-theme/theme-bule.jpg" alt="預設樣式">
            <div class="demo-style-txt">
              <p class="name">預設樣式</p>
              <i nz-icon nzType="check-circle" nzTheme="fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /. demo-style -->
    <!--  dw-theme-popover -->
    <h1 class="title-h1">佈景主題樣式-元件</h1>
    <div class="theme-info dw-theme-popover">
        <div nz-row nzGutter="15">
            <div nz-col class="theme-info-row" nzSpan="12" nzXXl="8">
              <div class="theme-info-box">
                  <div >
                      <nz-card [nzTitle]="'demo'" [attr.id]="'popExample'">
                        <nz-tabset>
                          <nz-tab nzTitle="範例">
                            <ng-container *ngComponentOutlet="themePop"></ng-container>
                          </nz-tab>
                          <nz-tab nzTitle="代碼">
                            <pre><code [highlight]="themePopCodeString"></code></pre>
                          </nz-tab>
                        </nz-tabset>
                        </nz-card>                    
                    </div>                     
              </div>       
            </div>
            <div nz-col class="theme-info-row" nzSpan="12" nzXXl="16">
              <div class="theme-info-box">
                <ul>
                  <li>放置於app/theme 資料夾,(/app/theme/theme-XXX.less)自訂的主題樣式,如果有新增或修改,
                      需重新執行npm run buildCss指令,以重新建立src/assets/themes/*.css檔案。
                  </li>
                  <li>在標籤上放入dwThemeDirective,即可產生pop型式的佈景選項,設定參數如下</li>
                </ul>
              </div>
            </div>
    
          </div> 

      <ng-template #emptyText></ng-template>
       <nz-table [nzNoResult]="emptyText" nzTitle="屬性說明">
        <thead>
        <tr>
          <th>名稱</th>
          <th>說明</th>
          <th>類型</th>
          <th>默认值</th>
        </tr>
        </thead>
        <tbody>
       <tr>
          <td>dwReference</td>
          <td>提示文字</td>
          <td>string</td>
          <td>-</td>
        </tr>        
       <tr>
          <td>dwPlacement</td>
          <td>位置有十二个方向topLeft, top, topRight, leftTop, left, leftBottom, rightTop, right, rightBottom, bottomLeft, bottom, bottomRight</td>
          <td>string</td>
          <td>bottom</td>
        </tr>
        <tr>
          <td>dwTrigger</td>
          <td>三种触发方式click, hover, focus</td>
          <td>string</td>
          <td>click</td>
        </tr>
        </tbody>
      </nz-table>         
  
</div>
  <!-- /. dw-theme-popover -->    
    

    <h1 class="title-h1">常用變數
      <span class="link-txt">
        <a target="_blank" href="https://github.com/NG-ZORRO/ng-zorro-antd/blob/1.6.0/site_scripts/_site/src/theme.less">查看全部變數</a>
      </span>
    </h1>
    <nz-table class="dw-common-var" #dwCommonVarTable [nzData]="dataSet2" [nzFrontPagination]="false" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>樣式變數 / class 選擇器</th>
          <th>預設值</th>
          <th>用途描述</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dwCommonVarTable.data">
          <td>{{data.dwCommonvarName}}</td>
          <td>{{data.dwCommonInitial}}</td>
          <td>{{data.dwCommonDescription}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>

</nz-layout>
