<div
  class="design-canvas"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
>
  <div *ngIf="components.length === 0" class="empty-canvas">
    <nz-empty nzDescription="暂无内容" [nzNotFoundImage]="emptyImage">
    </nz-empty>
    <ng-template #emptyImage>
      <div class="empty-image">
        <img src="assets/empty-box.svg" alt="empty" />
      </div>
    </ng-template>
    <div class="empty-text">选择元素查看相关配置</div>
  </div>

  <div
    cdkDropList
    (cdkDropListDropped)="onComponentDrop($event)"
    class="component-list"
    *ngIf="components.length > 0"
  >
    <div
      *ngFor="let component of components; let i = index"
      class="canvas-component"
      cdkDrag
      (click)="selectComponentItem(component)"
    >
      <div class="component-content" [ngSwitch]="component.type">
        <!-- 根据组件类型渲染不同内容 -->
        <div *ngSwitchCase="'title'" class="title-component">标题</div>
        <div *ngSwitchCase="'text'" class="text-component">内容文本</div>
        <div *ngSwitchCase="'button'" class="button-component">
          <button nz-button nzType="primary">按钮</button>
        </div>
        <div *ngSwitchCase="'image'" class="image-component">
          <div class="image-placeholder">图片</div>
        </div>
        <div *ngSwitchDefault>{{ component.name }}</div>
      </div>

      <div class="component-actions">
        <button
          nz-button
          nzType="text"
          nzShape="circle"
          (click)="removeComponent(i); $event.stopPropagation()"
        >
          <i nz-icon nzType="delete"></i>
        </button>
      </div>
    </div>
  </div>
</div>
