<div class="component-panel">
  <div class="panel-header">
    <nz-tabset [nzTabBarExtraContent]="extraTemplate">
      <nz-tab nzTitle="组件">
        <nz-collapse [nzBordered]="false" class="left-collapse">
          <nz-collapse-panel
            *ngFor="let category of componentCategories; let i = index"
            [nzHeader]="category.name"
            [nzActive]="category.open"
            [nzShowArrow]="false"
            [nzExtra]="extraTpl"
            [nzPanelKey]="i"
            (nzActiveChange)="onPanelActiveChange(i, $event)"
          >
            <div
              class="component-grid"
              [sortablejs]="category.components"
              [sortablejsOptions]="componentPanelSortableOptions"
            >
              <div
                *ngFor="let component of category.components"
                class="component-item"
                (click)="addComponent(component)"
                [attr.data-component-type]="component.type"
                [attr.data-type]="component.type"
              >
                <div class="component-icon">
                  <img [src]="component.icon" alt="component icon" />
                </div>
                <div class="component-name">{{ component.name }}</div>
              </div>
            </div>
            <ng-template #extraTpl>
              <i
                nz-icon
                [nzIconfont]="!category.open ? 'icon-up' : 'icon-down'"
              ></i>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </nz-tab>
    </nz-tabset>
    <ng-template #extraTemplate>
      <button nz-button nzType="text" (click)="handleClosePanel()">
        <i nz-icon [nzIconfont]="'icon-left-panel'"></i>
      </button>
    </ng-template>
  </div>
</div>
