<nz-content class="dw-f-content-edit">
  <form nz-form *ngIf="master?.controls[0]" [formGroup]="master.controls[0]">
    <!-- 單頭 -->
    <div nz-row [nzJustify]="'start'">
      <div nz-row [nzGutter]="10" class="dw-f-form-head">
      <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8" class="dw-f-label-title" nzRequired><span translate>dw-document-order-訂單編號</span></nz-form-label>
          <nz-form-control [nzSpan]="16" class="dw-f-control-data">
            {{master.controls[0].get('orderid').value}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8"  class="dw-f-label-title" nzRequired >
            <span translate>dw-document-order-狀態碼</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="16"  class="dw-f-control-data">
              {{getStatusName(master.controls[0].get('status').value)}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8" class="dw-f-label-title" nzRequired >
            <span translate>dw-document-order-訂單日期</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="16" class="dw-f-control-data">
              {{master.controls[0].get('orderdate').value | date:'yyyy/MM/dd HH:mm:ss'}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8" class="dw-f-label-title" nzRequired>
            <span translate>dw-document-order-客戶編號</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="16" class="dw-f-control-data">
              {{master.controls[0].get('customerid').value}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8" class="dw-f-label-title" >
            <span translate>dw-document-order-業務員員工編號</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="16" class="dw-f-control-data">
              {{master.controls[0].get('employeeid').value}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12" [nzLg]="{span: 8}" [nzXXl]="{span: 6}">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8" class="dw-f-label-title">
            <span translate>dw-document-order-訂單總額</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="16" class="dw-f-control-data">
            {{master.controls[0].get('totalcount').value | currency: 'TWD': '$': '1.0-0'}}
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item nz-row>
          <nz-form-label [nzSpan]="8" class="dw-f-label-title" >
            <span translate>dw-document-order-送貨地址</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="16" class="dw-f-control-data">
              {{master.controls[0].get('address').value}}
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-divider nzText="{{'dw-extra-fields' | translate }}" nzOrientation="left"></nz-divider>
      <!-- CRUD 設定檔 -->
      <div nz-col [nzSpan]="24">
        <dw-extra-fields
          cols="3"
          labelSpan="8"
          inputSpan="16"
          [group]="master.controls[0]"
          [dwDocument]="doc"
          tableName="demo_order"
          editable="false"
        >
        </dw-extra-fields>
      </div>

    </div>
    </div>
    <!-- 單身 -->
    <div class="dw-f-table dw-f-row-bottom-margin">
      <nz-table #dwTable [nzData]="detail.controls" [nzShowPagination]="false" [nzFrontPagination]="false" nzShowSizeChanger [nzLoading]="searchLoading">
        <thead>
          <tr>
            <th>
              <span translate>dw-document-order-序列號</span>
            </th>
            <th>
              <span translate>dw-document-order-配送狀態</span>
            </th>
            <th>
              <span translate>dw-document-order-商品編號</span>
            </th>
            <th>
              <span translate>dw-document-order-銷售單價</span>
            </th>
            <th>
              <span translate>dw-document-order-數量</span>
            </th>
            <th>
              <span translate>dw-document-order-小計</span>
            </th>
          </tr>
        </thead>
        <tbody dw-tbody *ngIf="detail" >
        <ng-container *ngFor="let data of dwTable.data; let idx = index" [formGroup]="data">
          <tr >
            <td>
              {{data.get('seq').value}}
            </td>
            <td>
              {{data.get('deliverystatus').value}}
            </td>
            <td>
                {{data.get('productid').value}}
            </td>
            <td>
              {{data.get('price').value}}
            </td>
            <td>
                {{data.get('quantity').value}}
            </td>
            <td>
              {{data.get('price').value * data.get('quantity').value}}
            </td>
          </tr>
        </ng-container>
        </tbody>
      </nz-table>
    </div>
    <!-- 表單按鈕 -->
    <nz-form-item nz-row class="dw-f-bottom-btn-bar">
      <div nz-col [nzSpan]="24" class="dw-f-txt-center">
        <button nz-button type="button" [nzType]="'primary'" (click)="modify()">{{ 'dw-document-order-修改' | translate }}</button>
        <button nz-button type="button" (click)="list()">{{ 'dw-document-order-返回' | translate }}</button>
      </div>
    </nz-form-item>
  </form>
</nz-content>
