<div class="dw-f-griddrag">
  <gridster [options]="options" class="gridsterSelector">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <div class="button-holder">
        <div class="gridster-item-content">
          <div class="stuff">
            <dw-base-iframe [showMask]="showMask" [item]="item"></dw-base-iframe>
          </div>
        </div>
        <div class="item-buttons">
          <button type="button" class="remove-button" dwActionAuthorized [dwActionId]="'delete'" [dwDefaultAuthorized]="'disabled'" (dwClick)="removeItem($event, item)" (mousedown)="onMousedown($event)" (touchstart)="removeItem($event)" nz-button nzSize="small" nzType="primary" title="delete">Delete</button>
        </div>
      </div>
    </gridster-item>
  </gridster>
</div>
