<nz-content class="dw-f-input-listwin">
<form nz-form>
  <div nz-row [nzGutter]="24">
    <!-- 修改密碼 - 如果是地端, 不需要驗證方式 -->
    <div nz-col [nzSpan]="12" class="dw-f-input-listwin-block">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="24" class="title">
          <span translate>dw-update-password-demo-title</span> - {{ endpoint }}
        </nz-form-label>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control nzSpan="24" nz-col [nzSm]="24" [nzXs]="24">
          <button nz-button type="button" nzType="primary" (click)="updatePassword($event)"><span translate>dw-update-password-demo-button</span></button>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- 修改密碼 - 指定驗證方式 - 如果是地端, 不需要驗證方式 -->
    <div nz-col [nzSpan]="12" class="dw-f-input-listwin-block" *ngIf="dwMultiTenant">
      <nz-form-item nz-row>
        <nz-form-label nz-col [nzSpan]="24" class="title">
          <span translate>dw-update-password-demo-title</span> - {{ endpoint }} - <span translate>dw-update-password-demo-specific</span>
        </nz-form-label>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control nzSpan="24" nz-col [nzSm]="24" [nzXs]="24">
          <button nz-button type="button" nzType="primary" (click)="updatePasswordSpecific($event)"><span translate>dw-update-password-demo-button</span></button>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</form>
</nz-content>
