<!-- <div
  cdkDropList
  (cdkDropListDropped)="onComponentDrop($event)"
  class="component-list"
  *ngIf="components.length > 0"
>
  <div class="canvas-component" cdkDrag>
   

    <div class="component-actions">
      <button
        nz-button
        nzType="text"
        nzShape="circle"
        (click)="removeComponent(i); $event.stopPropagation()"
      >
        <i nz-icon nzType="delete"></i>
      </button>
    </div>
  </div>
</div> -->
<ng-container *ngFor="let c of components; let c_i = index" [ngSwitch]="c.type">
  <div
    *ngSwitchCase="'columnLayout'"
    class="columnLayout-component"
    [style]="getComponentStyles(c)"
    #slotElem
    (click)="selectComponentItem($event, c); showEditPop($event, slotElem, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
  >
    <!-- <div class="edit-pop" *ngIf="isSelected(c)">
      <i nz-icon [nzIconfont]="'icon-c-add'" (click)="addComponent(c)"></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div> -->
    <div class="columnLayout-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        #slotElem
        (click)="
          selectComponentItem($event, s); showEditPop($event, slotElem, s)
        "
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{ selected: isSelected(s), hover: isHover(s) }"
      >
        <!-- <div class="edit-pop" *ngIf="isSelected(s)">
          <i nz-icon [nzIconfont]="'icon-c-add'" (click)="addComponent(s)"></i>
          <i
            nz-icon
            [nzIconfont]="'icon-c-delete'"
            (click)="removeComponent(s)"
          ></i>
        </div> -->
        <div class="slot-child" [style]="getComponentChildStyles(s)">
          <app-list-item
            *ngIf="s?.children?.length > 0"
            [components]="s.children"
          ></app-list-item>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'columnLayout1_1_1'"
    class="columnLayout1_1_1-component"
    [style]="getComponentStyles(c)"
    #slotElem
    (click)="selectComponentItem($event, c); showEditPop($event, slotElem, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
  >
    <div class="columnLayout1_1_1-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        #slotElem
        (click)="
          selectComponentItem($event, s); showEditPop($event, slotElem, s)
        "
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{ selected: isSelected(s), hover: isHover(s) }"
      >
        <div class="slot-child" [style]="getComponentChildStyles(s)">
          <app-list-item
            *ngIf="s?.children?.length > 0"
            [components]="s.children"
          ></app-list-item>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'scrollLayout'"
    class="scrollLayout-component"
    [style]="getComponentStyles(c)"
    #slotElem
    (click)="selectComponentItem($event, c); showEditPop($event, slotElem, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
  >
    <div class="scrollLayout-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        #slotElem
        (click)="
          selectComponentItem($event, s); showEditPop($event, slotElem, s)
        "
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{ selected: isSelected(s), hover: isHover(s) }"
      >
        <div class="slot-child" [style]="getComponentChildStyles(s)">
          <app-list-item
            *ngIf="s?.children?.length > 0"
            [components]="s.children"
          ></app-list-item>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'listLayout'"
    class="listLayout-component"
    [style]="getComponentStyles(c)"
    #slotElem
    (click)="selectComponentItem($event, c); showEditPop($event, slotElem, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
  >
    <div class="listLayout-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        #slotElem
        (click)="
          selectComponentItem($event, s); showEditPop($event, slotElem, s)
        "
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{ selected: isSelected(s), hover: isHover(s) }"
      >
        <div class="slot-child" [style]="getComponentChildStyles(s)">
          <app-list-item
            *ngIf="s?.children?.length > 0"
            [components]="s.children"
          ></app-list-item>
        </div>
      </div>
    </div>
  </div>
  <span
    *ngSwitchCase="'text'"
    class="text-component"
    [style]="getComponentChildStyles(c)"
    #slotElem
    (click)="selectComponentItem($event, c); showEditPop($event, slotElem, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
  >
    {{ c.style.content }}
  </span>
  <div
    *ngSwitchCase="'divider'"
    class="divider-component"
    #slotElem
    (click)="selectComponentItem($event, c); showEditPop($event, slotElem, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
  >
    <div class="divider" [style]="getComponentStyles(c)">
      {{ c.style.content }}
    </div>
  </div>
  <!-- <div *ngSwitchCase="'title'" class="title-component">标题</div>
      <div *ngSwitchCase="'button'" class="button-component">
        <button nz-button nzType="primary">按钮</button>
      </div>
      <div *ngSwitchCase="'image'" class="image-component">
        <div class="image-placeholder">图片</div>
      </div> -->
  <!-- <div *ngSwitchDefault>{{ tree.name }}</div> -->
</ng-container>
