<ng-container *ngFor="let c of components; let c_i = index" [ngSwitch]="c.type">
  <div
    *ngSwitchCase="'columnLayout'"
    class="columnLayout-component"
    [style]="getComponentStyles(c)"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="columnLayout-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component no-drag"
        [style]="getComponentStyles(s)"
        (click)="selectComponentItem($event, s)"
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{
          selected: isSelected(s),
          hover: isHover(s),
          empty: isEmpty(s)
        }"
        [attr.data-p-id]="s.id"
        [sortablejs]="s.children"
        [sortablejsOptions]="slotSortablejsOptions"
      >
        <div class="edit-pop" *ngIf="isSelected(s)">
          <i
            *ngIf="c.children.length < 6"
            nz-icon
            [nzIconfont]="'icon-c-add'"
            (click)="cloneComponent(s, c.id)"
          ></i>
          <i
            *ngIf="c.children.length > 1"
            nz-icon
            [nzIconfont]="'icon-c-delete'"
            (click)="removeComponent(s)"
          ></i>
        </div>
        <app-list-item
          *ngIf="s.children?.length > 0"
          class="slot-child"
          [components]="s.children"
          [style]="getComponentChildStyles(s)"
          [sortablejs]="s.children"
          [sortablejsOptions]="componentSortablejsOptions"
          [attr.data-p-id]="s.id"
          [parentId]="s.id"
        ></app-list-item>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'columnLayout1_1_1'"
    class="columnLayout1_1_1-component"
    [style]="getComponentStyles(c)"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="columnLayout1_1_1-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        (click)="selectComponentItem($event, s)"
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{
          selected: isSelected(s),
          hover: isHover(s),
          empty: isEmpty(s)
        }"
        [attr.data-p-id]="s.id"
      >
        <!-- [sortablejs]="s.children"
        [sortablejsOptions]="slotSortablejsOptions" -->
        <div class="edit-pop" *ngIf="isSelected(s)">
          <i
            *ngIf="c.children.length < 6"
            nz-icon
            [nzIconfont]="'icon-c-add'"
            (click)="cloneComponent(s, c.id)"
          ></i>
          <i
            *ngIf="c.children.length > 1"
            nz-icon
            [nzIconfont]="'icon-c-delete'"
            (click)="removeComponent(s)"
          ></i>
        </div>
        <app-list-item
          *ngIf="s.children?.length > 0"
          class="slot-child"
          [components]="s.children"
          [style]="getComponentChildStyles(s)"
          [sortablejs]="s.children"
          [sortablejsOptions]="componentSortablejsOptions"
          [attr.data-p-id]="s.id"
          [parentId]="s.id"
        ></app-list-item>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'scrollLayout'"
    class="scrollLayout-component"
    [style]="getComponentStyles(c)"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div
      class="scrollLayout-child"
      [style]="getComponentChildStyles(c)"
      #scrollElem
    >
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        #slotElem
        (click)="
          selectComponentItem($event, s); createObserver(slotElem, scrollElem)
        "
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{
          selected: isSelected(s),
          hover: isHover(s),
          empty: isEmpty(s)
        }"
        [sortablejs]="s.children"
        [sortablejsOptions]="slotSortablejsOptions"
        [attr.data-p-id]="s.id"
      >
        <div
          class="edit-pop"
          *ngIf="isSelected(s)"
          [style]="getEditPopStyles(slotElem)"
        >
          <i
            *ngIf="c.children.length < 20"
            nz-icon
            [nzIconfont]="'icon-c-add'"
            (click)="cloneComponent(s, c.id)"
          ></i>
          <i
            *ngIf="c.children.length > 1"
            nz-icon
            [nzIconfont]="'icon-c-delete'"
            (click)="removeComponent(s)"
          ></i>
        </div>
        <app-list-item
          *ngIf="s.children?.length > 0"
          class="slot-child"
          [components]="s.children"
          [style]="getComponentChildStyles(s)"
          [sortablejs]="s.children"
          [sortablejsOptions]="componentSortablejsOptions"
          [attr.data-p-id]="s.id"
          [parentId]="s.id"
        ></app-list-item>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'listLayout'"
    class="listLayout-component"
    [style]="getComponentStyles(c)"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="listLayout-child" [style]="getComponentChildStyles(c)">
      <div
        *ngFor="let s of c.children; let s_i = index"
        class="slot-component"
        [style]="getComponentStyles(s)"
        (click)="selectComponentItem($event, s)"
        (mouseenter)="onMouseEnter($event, s)"
        (mouseleave)="onMouseLeave($event, s)"
        [ngClass]="{
          selected: isSelected(s),
          hover: isHover(s),
          empty: isEmpty(s)
        }"
        [sortablejs]="s.children"
        [sortablejsOptions]="slotSortablejsOptions"
        [attr.data-p-id]="s.id"
      >
        <div class="edit-pop" *ngIf="isSelected(s)">
          <i
            *ngIf="c.children.length < 20"
            nz-icon
            [nzIconfont]="'icon-c-add'"
            (click)="cloneComponent(s, c.id)"
          ></i>
          <i
            *ngIf="c.children.length > 1"
            nz-icon
            [nzIconfont]="'icon-c-delete'"
            (click)="removeComponent(s)"
          ></i>
        </div>
        <app-list-item
          *ngIf="s.children?.length > 0"
          class="slot-child"
          [style]="getComponentChildStyles(s)"
          [components]="s.children"
          [sortablejs]="s.children"
          [sortablejsOptions]="componentSortablejsOptions"
          [attr.data-p-id]="s.id"
          [parentId]="s.id"
        ></app-list-item>
      </div>
    </div>
  </div>
  <div
    *ngSwitchCase="'title'"
    class="title-component no-drag"
    [style]="getComponentStyles(c)"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <!-- <i nz-icon [nzIconfont]="'icon-c-add'" (click)="cloneComponent(c)"></i> -->
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="title-child" [style]="getComponentChildStyles(c)">
      {{ c.style.content }}
    </div>
  </div>
  <div
    *ngSwitchCase="'text'"
    class="text-component"
    [style]="getComponentStyles(c)"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="text-child" [style]="getComponentChildStyles(c)">
      {{ c?.style?.content }}
    </div>
  </div>
  <div
    *ngSwitchCase="'divider'"
    class="divider-component"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="divider-child" [style]="getComponentChildStyles(c)">
      {{ c.style.content }}
    </div>
  </div>
  <div
    *ngSwitchCase="'image'"
    class="image-component"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{ selected: isSelected(c), hover: isHover(c) }"
    #slotElem
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div
      class="edit-pop"
      *ngIf="isSelected(c)"
      [style]="getEditPopStyles(slotElem)"
    >
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div class="image-child" [style]="getComponentChildStyles(c)">
      <img [src]="c.style.src" alt="" />
    </div>
  </div>
  <div
    *ngSwitchCase="'button'"
    class="button-component"
    (click)="selectComponentItem($event, c)"
    (mouseenter)="onMouseEnter($event, c)"
    (mouseleave)="onMouseLeave($event, c)"
    [ngClass]="{
      selected: isSelected(c),
      hover: isHover(c),
      wFill: c.style.width === 'fill'
    }"
    [attr.data-c-id]="c.id"
    [attr.data-c]="c | json"
  >
    <div class="edit-pop" *ngIf="isSelected(c)">
      <i
        nz-icon
        [nzIconfont]="'icon-c-add'"
        (click)="cloneComponent(c, parentId)"
      ></i>
      <i
        nz-icon
        [nzIconfont]="'icon-c-delete'"
        (click)="removeComponent(c)"
      ></i>
    </div>
    <div
      class="button-child"
      [style]="getComponentChildStyles(c)"
      nz-button
      nzType="primary"
      [ngClass]="'btn-' + c.style.type"
    >
      按钮
    </div>
  </div>

  <!-- <div *ngSwitchDefault>{{ tree.name }}</div> -->
</ng-container>
