<div style="padding: 8px;">
  {{'set-image-width' | translate}}：[dwItemImageWidth]="{{singleValue}}"
  <nz-tag [nzColor]="'orange'">{{'default-no-need' | translate}} [dwItemImageWidth]</nz-tag>
  <nz-slider [nzMin]="104" [nzMax]="250" [(ngModel)]="singleValue" (ngModelChange)="onSizeChange($event)">
  </nz-slider>
</div>

<div class="ant-upload-list ant-upload-list-picture-card">
  <ng-container *ngFor="let file of thumbnailList1; trackBy: trackByUid">
    <dw-image-viewer-list-item [dwListType]="'picture-card'" [dwFile]="file" [dwItemAction]="listAction1"
      [onPreview]="handlePreview1" [onRemove]="handleRemove1" [dwItemImageWidth]="itemImageWidth">
    </dw-image-viewer-list-item>
  </ng-container>
</div>
