
  <nz-content class="dw-f-content-list dwTree">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <ng-template #title>
        {{ 'dw-tree-樹狀列表' | translate }}
      </ng-template>
        <div nz-row class="dw-f-btn-bar-action">
          <div nz-col [nzSpan]="12">
            <button nz-button type="button" [nzType]="'primary'" dwActionAuthorized [dwActionId]="'add'" [dwDefaultAuthorized]="'disabled'" (dwClick)="addDataModal()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              <span translate>dw-tree-新建</span>
            </button>

            <button nz-button type="button" [nzType]="'primary'" nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'"
              [nzPlacement]="'bottomCenter'" [disabled]="disabledButton" [nzLoading]="operating">
              <span translate>dw-tree-批量操作</span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item dwActionAuthorized [dwActionId]="'delete'" [dwDefaultAuthorized]="'disabled'"
                  (dwClick)="operateData('delete')" translate>
                  dw-tree-刪除
                </li>
                <li>
                  <div nz-menu-item dwActionAuthorized [dwActionId]="'export'" [dwDefaultAuthorized]="'disabled'"
                  (dwClick)="showLoading()" translate>
                    dw-tree-loading-mask
                  </div>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <div nz-col [nzSpan]="6">

          </div>
          <div nz-col [nzSpan]="6">
            <div class="dw-f-search-box">
              <input nz-input [type]="'search'" [placeholder]="'dw-tree-請輸入組織名稱'|translate" [(ngModel)]="value" (ngModelChange)="term$.next($event)">
            </div>
          </div>
        </div>
        <div *ngIf="checkedNumber">
          <nz-alert [nzType]="'info'" [nzMessage]="checkedDescription" nzShowIcon class="dw-f-row-bottom"></nz-alert>
        </div>
        <div class="dw-f-table">
        <nz-table #dwTable [nzData]="originData" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th [nzWidth]="'40%'"  nzShowCheckbox [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)" style="text-align: left">
                <span translate>dw-tree-組織</span>
              </th>
              <th [nzWidth]="'20%'">
                <span translate>dw-tree-地址</span>
              </th>
              <th>
                <span translate>dw-tree-月營業額</span>
              </th>
              <th>
                <span translate>dw-tree-狀態</span>
              </th>
              <th>
                <span translate>dw-tree-更新時間</span>
              </th>
              <th>
                <span translate>dw-tree-操作</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-data [ngForOf]="dwTable.data">
              <ng-template ngFor let-item [ngForOf]="expandDataCache[data.key]|ShowcaseTreeSearchPipe:value">
                <tr *ngIf="(item.parent&&item.parent.expand)||!(item.parent)">
                  <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="changeParentChildStatus(item);refreshStatus($event)"
                   [nzIndentSize]="item.level*20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(expandDataCache[data.key],item,$event)">
                    ({{item.key}}) {{item.name}}
                  </td>
                  <td>{{item.address}}</td>
                  <td>{{item.amount}}</td>
                  <td>
                    <i [class.circle-run]="item.status" [class.circle-stop]="!item.status"></i>
                    {{item.status?'運行中':'關閉'}}
                  </td>
                  <td>{{item.update}}</td>
                  <td>
                    <span class="dw-link-txt">
                      <a dwActionAuthorized [dwActionId]="'modify'" [dwDefaultAuthorized]="'disabled'" (dwClick)="editDataModal(item)"
                        translate>dw-tree-編輯</a>
                      <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'" [nzTrigger]="'click'" translate>dw-tree-更多</a>
                      <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item>
                            <a dwActionAuthorized [dwActionId]="'delete'" [dwDefaultAuthorized]="'disabled'" (dwClick)="showConfirm(item)"
                              translate>dw-tree-刪除</a>
                          </li>
                          <li nz-menu-item>
                            <a translate>dw-tree-loading-mask</a>
                          </li>
                        </ul>
                      </nz-dropdown-menu>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </nz-content>

