<ng-template #emptyText></ng-template>
<nz-table [nzNoResult]="emptyText" nzTitle="屬性說明">
  <thead>
  <tr>
    <th>名稱</th>
    <th>說明</th>
    <th>類型</th>
    <th>範默认</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>dwAllowClear</td>
    <td>是否支持清除</td>
    <td>boolean</td>
    <td>TRUE</td>
  </tr>
  <tr>
    <td>dwAutoFocus</td>
    <td>是否自动聚焦，当存在输入框时</td>
    <td>boolean</td>
    <td>FALSE</td>
  </tr>
  <tr>
    <td>dwChangeOn</td>
    <td>点击父级菜单选项时，可通过该函数判断是否允许值的变化</td>
    <td>function(option: any, index: number) =&gt; boolean</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwChangeOnSelect</td>
    <td>当此项为 true 时，点选每级菜单选项值都会发生变化，具体见上面的演示</td>
    <td>boolean</td>
    <td>FALSE</td>
  </tr>
  <tr>
    <td>dwColumnClassName</td>
    <td>自定义浮层列类名</td>
    <td>string</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwDisabled</td>
    <td>禁用</td>
    <td>boolean</td>
    <td>FALSE</td>
  </tr>
  <tr>
    <td>dwExpandTrigger</td>
    <td>次级菜单的展开方式，可选 'click' 和 'hover'</td>
    <td>string</td>
    <td>'click'</td>
  </tr>
  <tr>
    <td>dwMenuClassName</td>
    <td>自定义浮层类名</td>
    <td>string</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwMenuStyle</td>
    <td>自定义浮层样式</td>
    <td>object</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwLabelProperty</td>
    <td>选项的显示值的属性名</td>
    <td>string</td>
    <td>'label'</td>
  </tr>
  <tr>
    <td>dwLabelRender</td>
    <td>选择后展示的渲染模板</td>
    <td>TemplateRef&lt;any&gt;</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwLoadData</td>
    <td>用于动态加载选项。如果提供了ngModel初始值，且未提供dwOptions值，则会立即触发动态加载。</td>
    <td>(option: any, index?: index) =&gt; PromiseLike&lt;any&gt;</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwOptions</td>
    <td>可选项数据源</td>
    <td>object[]</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwPlaceHolder</td>
    <td>提示文字</td>
    <td>string</td>
    <td>-</td>
  </tr>
  <tr>
    <td>dwShowArrow</td>
    <td>是否显示箭头</td>
    <td>boolean</td>
    <td>TRUE</td>
  </tr>
  <tr>
    <td>dwShowInput</td>
    <td>显示输入框</td>
    <td>boolean</td>
    <td>TRUE</td>
  </tr>
  <tr>
    <td>dwSize</td>
    <td>输入框大小，可选 largedefaultsmall</td>
    <td>string</td>
    <td>default</td>
  </tr>
  <tr>
    <td>dwValueProperty</td>
    <td>选项的实际值的属性名</td>
    <td>string</td>
    <td>'value'</td>
  </tr>
  </tbody>
</nz-table>
