<ng-template #emptyText></ng-template>
<nz-table [nzNoResult]="emptyText" nzTitle="屬性說明">
  <thead>
    <tr>
      <th>名稱</th>
      <th>說明</th>
      <th>類型</th>
      <th>範默认</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ngModel</td>
      <td>当前时间</td>
      <td>Date</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>dwAddon</td>
      <td>选择框底部显示自定义的内容</td>
      <td>TemplateRef</td>
      <td>-</td>
    </tr>
    <tr>
      <td>dwAllowEmpty</td>
      <td>是否展示清除按钮</td>
      <td>boolean</td>
      <td>TRUE</td>
    </tr>
    <tr>
      <td>dwAutoFocus</td>
      <td>自动获取焦点</td>
      <td>boolean</td>
      <td>FALSE</td>
    </tr>
    <tr>
      <td>dwClearText</td>
      <td>清除按钮的提示文案</td>
      <td>string</td>
      <td>clear</td>
    </tr>
    <tr>
      <td>dwDefaultOpenValue</td>
      <td>设定面板打开时预设选中的值</td>
      <td>Date</td>
      <td>new Date()</td>
    </tr>
    <tr>
      <td>dwDisabled</td>
      <td>禁用</td>
      <td>boolean</td>
      <td>FALSE</td>
    </tr>
    <tr>
      <td>dwDisabledHours</td>
      <td>禁止选择部分小时选项</td>
      <td>function()</td>
      <td>-</td>
    </tr>
    <tr>
      <td>dwDisabledMinutes</td>
      <td>禁止选择部分分钟选项</td>
      <td>function(selectedHour)</td>
      <td>-</td>
    </tr>
    <tr>
      <td>dwDisabledSeconds</td>
      <td>禁止选择部分秒选项</td>
      <td>function(selectedHour, selectedMinute)</td>
      <td>-</td>
    </tr>
    <tr>
      <td>dwFormat</td>
      <td>展示的时间格式</td>
      <td>string</td>
      <td>"HH:mm:ss"</td>
    </tr>
    <tr>
      <td>dwHideDisabledOptions</td>
      <td>隐藏禁止选择的选项</td>
      <td>boolean</td>
      <td>FALSE</td>
    </tr>

    <tr>
      <td>dwHourStep</td>
      <td>小时选项间隔</td>
      <td>number</td>
      <td>1</td>
    </tr>
    <tr>
      <td>dwMinuteStep</td>
      <td>分钟选项间隔</td>
      <td>number</td>
      <td>1</td>
    </tr>
    <tr>
      <td>dwSecondStep</td>
      <td>秒选项间隔</td>
      <td>number</td>
      <td>1</td>
    </tr>
    <tr>
      <td>dwOpen</td>
      <td>面板是否打开</td>
      <td>boolean</td>
      <td>false</td>
    </tr>
    <tr>
      <td>dwPlaceHolder</td>
      <td>没有值的时候显示的内容</td>
      <td>string</td>
      <td>-</td>
    </tr>

    <tr>
      <td>dwPopupClassName</td>
      <td>弹出层类名</td>
      <td>string</td>
      <td>''</td>
    </tr>
    <tr>
      <td>ngModelChange</td>
      <td>时间发生变化的回调</td>
      <td>EventEmitter&lt;Date&gt;</td>
      <td>-</td>
    </tr>
    <tr>
      <td>dwOpenChange</td>
      <td>时间发生变化的回调</td>
      <td>EventEmitter&lt;boolean&gt;</td>
      <td>-</td>
    </tr>
  </tbody>
</nz-table>
