<!-- components/component-panel/component-panel.component.html -->
<div class="component-panel">
  <div class="panel-header">
    <span>组件</span>
  </div>

  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel
      *ngFor="let category of componentCategories"
      [nzHeader]="category.name"
      [nzActive]="category.open"
    >
      <div class="component-grid">
        <div
          *ngFor="let component of category.components"
          class="component-item"
          draggable="true"
          (dragstart)="onDragStart($event, component)"
          (click)="addComponent(component)"
        >
          <div class="component-icon">
            <img [src]="component.icon" alt="component icon" />
          </div>
          <div class="component-name">{{ component.name }}</div>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>
