<div nz-row>
  <div nz-col nzSpan="24">
    <nz-divider [nzText]="'dw-demo-image-viewer-case1' | translate" nzOrientation="left"></nz-divider>
    <div>
      <app-dw-demo-image-viewer-list></app-dw-demo-image-viewer-list>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-divider [nzText]="'dw-demo-image-viewer-case2' | translate" nzOrientation="left"></nz-divider>
    <div>
      <app-dw-demo-image-viewer-upload></app-dw-demo-image-viewer-upload>
    </div>
  </div>
</div>
